body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#numberInput {
  height: 30px;
  width: 500px;
  border-color: black;
  border-style: solid;
  border-width: 10px;
  border-radius: 15px;
}

#number {
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon {
  height: 70px;
}

#gate { 
  font-size: 50px;
  padding: 10px;
  font-weight: bolder;
}

#formattedNumber { 
  font-size: 30px;
}

#testButton {
  color: white;
  background-color: #0047ab;
  width: 200px;
  height: 40px;
  border-style: solid;
  border-color: #0047ab;
  border-radius: 10px;
  font-size: 20px;
}


  