#testButton {
    color: white;
    background-color: #0047ab;
    width: 200px;
    height: 40px;
    border-style: solid;
    border-color: #0047ab;
    border-radius: 10px;
    font-size: 20px;
  }
  